.home img {
  width: 100%;
  height: auto;
  margin: 0;

  box-sizing: border-box;
}

.home {
  position: relative;


  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

.home ul {
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}


.home .title {
  position: absolute;
  top: 1%;
  left: 2%;
  font-size: 4rem;
  text-align: left;
  color: white;
  font-family: "Stint Ultra Expanded";

}


.navigation-container {
  position: absolute;
  top: 85vh;
  left: 2%;
}



@media screen and (max-width: 600px) {
  .navigation-container {
    bottom: 5vh;
    left: 2%;
  }

  .home .title {
    top: 1vh;
    left: 2%;
    font-size: 2rem;
    margin: 0;
  }
}
