.home img{
  height: 100%;
  width: 100%;
  margin: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.home{
  position: relative;
  height: 100vh;
  width: 100vw;
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

body , html{
  height: 100%;
  width: 100%;
  margin: 0;
}

.home .title {
position: absolute;
top:5%;
left:2%;
font-size: 4rem;
text-align: left;
color: #12545c;
color: #61888C;
color: #61888C;
color: #456063;
color:black;
font-family: 'Stint Ultra Expanded';
/* color: #3F2109;
color: #6B380F;
color: #402414; */
}

.body{
  display: block;
  margin: 0;
}
.navigation-container{
  position: absolute;
  bottom:5%;
  left:2%;
}