.button{
  background: #A3C4D9;
  color: white;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 20px;
  font-family: 'Josefin Sans';
  font-size: 1.2rem;
  white-space: pre-wrap;
}


.button:hover  {
  box-shadow: 0 3px 6px black;
}
